* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ITC Officina Sans Std Book";
}
body {
  background: #f1f3f6;
}
.navbar-brand {
  font-size: 20px;
}
.navbar-brand p {
  font-size: 14px;
  margin-top: -10px;
}
.navbar ul li a,
.nav-item a,
.navbar-brand {
  color: #2ecab6 !important;
}
.a1 {
  background: #2ecab6;
  height: 250px;
  background-size: 100% 100%;
  padding-top: 60px;
  width: 100%;
}
.container1 {
  margin: 0 auto;
  width: 94%;
  max-width: 1600px;
  margin-top: -117px;
  background: white;
  /*overflow: visible;*/
}
.fa-check,
.fa-map-marker-alt {
  color: #2ecab6;
  margin-right: 10px;
}
.tick p {
  margin-bottom: 5px;
}
.cards img {
  height: 200px;
}
.btn.btn-search {
  background: #2ecab6 !important;
  border-radius: 0;
  color: white;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.fa-handshake,
.fa-user-shield,
.fa-hand-holding-heart {
  color: #2ecab6;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img {
  width: 6vh;
  height: auto;
}
.size {
  font-size: 14px;
}
.img1 {
  width: 3vh;
  height: 3vh;
  margin: 0 25px;
}
.size1 {
  font-size: 7px;
  word-break: keep-all;
}

.scrolling-wrapper {
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  width: 1000px;
  height: 190px;
}
.card {
  display: inline-block;
}
@media (min-width: 580px) {
  .mob {
    display: none;
  }
  .h {
    display: none;
  }
}
@media (max-width: 580px) {
  .mob1 {
    display: none;
  }
  .g {
    display: none;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
}


footer {
  color: #fff;
  bottom: 0;
}
footer a {
  text-decoration: none;
  color: white;
}

@media (max-width: 620px) {
  .a1 {
    height: 270px;
  }
}
@media (max-width: 432px) {
  .a1 {
    height: 300px;
    padding-top: 90px;
  }
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #f1f1f1
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*Left Sidebar Start*/

.sidebar
{
  /*position: fixed;*/
  width:270px;
  /*height: 100%;*/
  left:0;
  background: white;
  margin-left: 15px;
 /* margin-top: 15px;*/
 margin-top: 0;

}
.sidebar .text{
  color: black;
  font-size: 25px;
  font-weight: 500;
/*  line-height: 65px;*/
  margin-top: 100px;
  /*margin-left: 15px;*/
  /*letter-spacing: 1px;*/
}
.sortby{
  color: black;
}
.sortby a:hover{
  color: #2ecab6!important;
}
.sidebar .text1{
  color: black;
  font-size: 20px;
  font-weight: 600;
  line-height: 65px;
  
  
  letter-spacing: 1px;
}
nav ul
{
  background: white;
  color: black;
 /* height: 100%*/
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding-left: 30px;
}
nav ul li a{
  position: relative;
  font-size: 18px;
  text-decoration: none;
  color: black;
  padding-left: 10px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li a
{
 /* color: #2ecab6;*/
  background: white;
  /*border-left-color: #2ecab6;*/
}
nav ul ul
{
  position: static;
  display: none;
}

nav ul .cat-show.show
{
  display: block;
}
nav ul .bhk-show.show1
{
  display: block;
}
nav ul .pg-show.show2
{
  display: block;
}
nav ul .floor-show.show3
{
  display: block;
}
nav ul .fur-show.show4
{
  display: block;
}
nav ul .pro-show.show5
{
  display: block;
}
nav ul ul li
{
  line-height: 42px;
  border-bottom: none;

}
 
nav ul ul li a
{
  font-size: 17px;
  color: #2ecab6;
  padding-left: 80px;
  
}

nav ul li.active ul li a
{
  color: #2ecab6;
  background: white;
  border-left-color: transparent;
}
nav ul li a:hover
{
  background: #d5f6f2!important;
  color: #17c3ad !important;
  
}
.pro-show li:hover,
.fur-show li:hover,
.floor-show li:hover,
.pg-show li:hover,
.bhk-show li:hover,
.cat-show
 li:hover
{
  background: #d5f6f2!important;
  color: #17c3ad !important;
}
nav ul li a span{
  position: absolute;
  top:50%;
  right:20px;
  
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
  
}
/*Left Sidebar End*/
.main > div{
  align-items: center;

}
.center{
  color: white;
  margin-top: 5%;
  margin-left: 3%;
}
.left{
  float: left;
}
/*Middle Checkbox*/
.box{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 30px;
    /*display: flex;*/
   /* justify-content: center;
    align-items: center;*/
    width: 40%;
    height: 80%;
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
    /*float: right;*/

    
}
.innerbox{
margin: 12px 12px;
padding: 3px;
font-size: 16px;
}

/*Right Sidebar*/
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


.col .features li .ion-checkmark{
    color: black;
}
.title {
  position: relative;
  top: 0;
  text-align: center;
  font-weight: 800;
  padding: 5px 0px;
  margin:0;
  display: inline-block;
  background-color:#2ecab6;
  color: #ffffff;
  text-transform: uppercase;
}
.features {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style:  none;
  font-size: 0.9em;

}
.features li {
  border-top: 1px solid #d2d7e2;
  padding: 10px 5%;
  font-weight: bold;
}
 .features li:nth-child(even) {
  background: rgba(0, 0, 0, 0.08);
}
.features i {
  margin-right: 8px;
  opacity: 0.4;
}
.title{
  color: #ffffff;
}
 .row .col .features li {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 767px) {
.features {
    margin-top: 0;
  }
}

ul {
  list-style: none;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  float:left;
}
ul.breadcrumb li {
  display: inline;
  font-size: 10px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">";
}
ul.breadcrumb li a {
  color: #23b6ae;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.generalcard{
  margin: 10px 0px;
  padding: 10px 10px;
  border: 1px solid grey;
  font-size: 18px;
  float:left;
  width: 100%;

}
.image img {
  height: 250px !important;
  width: 280px !important;
  /*object-fit: cover;*/
  padding: 10px;
}
/**/
.generalcard p, {
  margin-bottom: 0;
  text-align: right;
  margin-top: -25px;
}
.generalcard p a {
  text-decoration: none;

}
.neg a:hover{
  text-decoration: underline;


}
.fa-map-marker {
  color: red;
  font-size: 20px;
  margin-right: 5px;
}

.fa-heart{
  float: right;
}

.fa-info-circle{
  float:right;
  color: #2ecab6 !important;
  margin: 5px;
  font-size: 25px;
}

.btn-info {
  background-color: #2ecab6 !important;
}
.carousel {
  width: 290px;
}
.carousel-control-next {
  right: 10px;
}

.dropdown-container1,.dropdown-container3,.dropdown-container5,.dropdown-container7{
  float: left;
  margin-left: 10px;
}

.dropdown-container2,.dropdown-container4,.dropdown-container6,.dropdown-container8{
  float:right;
}



.generalcard,{
  font-size: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 30px 2px 2px;
    border:solid;
}

.lower2{
  float: right;
}
.lower{
  float: left;
}
